QGIS V0.1.qgs
about_you/
ads/
apps_and_websites/
comments/
events/
following_and_followers/
friends/
groups/
likes_and_reactions/
location/
marketplace/
messages/
other_activity/
pages/
payment_history/
photos_and_videos/
portal/
posts/
profile_information/
saved_items_and_collections/
search_history/
security_and_login_information/
stories/
your_places/

*.cpg
*.dbf
*.prj
*.qpj
*.shp
*.shx
qgis/
